
<ng-container>
<form>
  <div class="mb-3 row">
    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
    <div class="col-xs-3 col-sm-auto">
      <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
    </div>
  </div>
</form>
  <app-add-medicine (onAddMedicine)="addMedicine($event)"></app-add-medicine>
</ng-container>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nazwa handlowa</th>
    <th scope="col">Dawkowanie</th>
    <th scope="col">Substancje aktywne</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let medicine of filteredMedicines$|async; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>

      <ngb-highlight [result]="medicine.tradeName" [term]="filter.value"></ngb-highlight>
    </td>
    <td>
      <ngb-highlight [result]="medicine.dosages.join(', ').toString()" [term]="filter.value"></ngb-highlight>
    </td>
    <td>

      <ngb-highlight class="active-subst" *ngFor="let activeSubst of medicine.activeSubsts" [result]="activeSubst.name"
                     [term]="filter.value">

      </ngb-highlight>
    </td>

  </tr>
  </tbody>
</table>

