
<ng-container>
<form>
  <div class="mb-3 row">
    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
    <div class="col-xs-3 col-sm-auto">
      <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
    </div>
  </div>
</form>
  <app-add-medicine
    (onAddMedicine)="addMedicine($event)"
  [activeSubstsInput]="activeSubsts"></app-add-medicine>
</ng-container>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nazwa handlowa</th>
    <th scope="col">Dawkowanie</th>
    <th scope="col">Substancje aktywne</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let medicine of filteredMedicines$|async; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>

      <ngb-highlight [result]="medicine.tradeName" [term]="filter.value"></ngb-highlight>
    </td>
    <td>
      <ngb-highlight [result]="medicine.dosages.join(', ').toString()" [term]="filter.value"></ngb-highlight>
    </td>
    <td>

      <ngb-highlight class="active-subst" *ngFor="let activeSubst of medicine.activeSubsts" [result]="activeSubst.name"
                     [term]="filter.value">

      </ngb-highlight>
    </td>
    <td>
      <button type="button" class="btn btn-outline-secondary" (click)="deleteMedicine(medicine?.medId)"
              data-target="#edit-active-subst-modal">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
             viewBox="0 0 16 16">
          <path
            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>

      </button>
    </td>

  </tr>
  </tbody>
</table>

